@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito+Sans:opsz,wght@6..12,400;6..12,700&family=Roboto:wght@400;500&display=swap');



:root{
    --PLATINUM: #E5E4E2;
    --WATER: #EBF4FA;
    --GRANITE: #837E7C;
    --WHITE: #fff;
    --BLACK_BLUE: #040720;
    --CHARCOAL_BLUE: #36454F;
    --CHARCOAL: #34282C;
    --ALIEN_GRAY: #736F6E;
    --JADE: #00A36C;
    --BRONZE: #CD7F32;
}


*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

ul,
ol,
li {
    list-style: none;
}

html,
body {
    line-height: 1.3;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    transition: all 0.3s ease;
    background-color: var(--PLATINUM);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}


.uppercase {
    text-transform: uppercase;
}

.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}
/* Page particular */



.btn{
    min-width: 250px;
    height: 30px;
    background-color: #151B54;
    color: #fff;
    border-radius: 30px;
    font-size: 1rem;
    margin: 20px auto;
    text-align: center;
}






.wrapper{
    /* height: 100vh; */
    min-width: auto;
}



.sub_title{
    font-size: 0.8rem;
    color: #808e9b;
    text-align: center;
    margin: 20px ;
    font-weight: 600;
}

/* ***** HEADER ****** */

.header{
    background-color: var(--PLATINUM);
    min-height: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    box-shadow: 3px 3px 3px var(--ALIEN_GRAY) ;
    padding: 0 25px;
}


/* ***** NAV ****** */

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px;
    background-color: #2C3A47;
}

/* ul */
.nav_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav_brand{
    font-size: 1.5rem;
}

/* li */
.nav_item{
    margin-right: 10px;
    color: var(--BLACK_BLUE);
    transition: 07s ease;
    font-size: 14px;
}

.nav_link{
    transition: 0.7s ease;

}

.nav_link:hover{
    color: var(--BRONZE);
    font-weight: 700;
}


.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
   display: block;
   width: 25px;
   height: 3px;
   margin: 5px auto;
   -webkit-transition: all 0.3s ease-in-out;     
   transition: all 0.3s ease-in-out;
   background-color: #fff;
}


@media(max-width:768px){
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav_menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        background-color: #2C3A47;
    }

    .nav-item{
        margin: 10px 0;
    }

    .nav_menu.active{
        left:0;
    }

}


/* ***** MAIN ****** */

.main{
    box-shadow: 3px 3px3px var(--ALIEN_GRAY) ;
    text-align: center;
    min-height: auto;
}

.main__header{
    margin: 20px;
    padding: 20px 0px;
    text-align: center;
    background-color: #151B54;

}

.header__title{
    font-size: 56px;
    font-weight: bold;
    color: #eb2f06;
    margin-bottom: 20px;
    max-width: 500px;
    display: inline-block;
}


.header__content{
    color: #b71540;
    /* background-color: #B4CFEC; */
    margin: 20px ;
    font-size: 1.2rem;

}




/* ***** SECTION ****** */

.section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #485460;
}

.section .sub_title{
    color: #CAD3C8;
}

.section__article{
    margin: 10px;
    max-width: 400px;
    min-width: 300px;
    padding: 20px;
    border: 1px solid #d2dae2;
    color: white;
    align-content: center;
}

.article__title{
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
}
.article_text{

}


.article_image{
    max-width: 100%;
}


/* SOCIETY SECTION */

.society_section{
    margin-top: 5px;
    background-color: wheat;
    min-height: 600px;
    /* box-shadow: 3px 3px 3px var(--ALIEN_GRAY) ; */
}




/*  FOOD SECTION  */

.food_section{
    margin-top: 5px;
    background-color: beige;
    min-height: 600px;
    /* box-shadow: 3px 3px 3px var(--ALIEN_GRAY) ; */
}





/* ***** FOOTER ****** */
.footer{
    margin-top: 5px;
    min-height: 200px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-evenly;
    color: #fff;
    align-items: center;
}


.info__box{
    min-width: 120px;
    min-height: 120px;
    background-color: #2c3e50;
    padding: 10px 40px;
    margin: 25x 25px;

}

.box__title {
    text-align: center;
    margin: 10px 0px 5px 0px;
    font-weight: 700;
}


.box__content{

}


/*  Media Query */




@media screen and (max-width: 1200px) {
    .society_section {
        background-color: lightgray;
    }

}

@media screen and (max-width: 998px) {
    .society_section {
        background-color: lightcyan;
    }
    .food_section{
        background-color: lightsalmon;
    }
}


@media screen and (max-width: 768px) {
    .society_section {
        background-color: lightcyan;
    }
    .food_section{
        background-color: lightsalmon;
    }
}

@media screen and (max-width: 576px) {
    .society_section {
        background-color: lightcyan;
    }
    .food_section{
        background-color: lightsalmon;
    }
}